/*index.html*/
body{
	font-family: 'Dosis', sans-serif;
	margin:0px auto;
	width: 100%;
	height: auto;
}

.header{
	background-color: #00CC33;
	width: 100%;
	height: 150px;
	margin:0px auto;
	font-family: 'Dosis', sans-serif;
}

nav{
	text-align: right;
	padding: 0px 20px;
	font-weight:bold;
}

nav ul a{
	padding: 18px;
	color: black;
	display: inline-table;
	list-style: none;
	text-decoration: none;
}

nav ul a:hover{
	background-color: #2eb82e;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
	margin:0px auto;
}

#Daftar_poli{
	height:400px;
	padding:100px 0px;
}
 
.daftar_poli{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
	width: 700px;
	border:2px solid black;
	background: white;
	/*meletakkan form ke tengah*/
	padding: 30px 20px;
	margin:80px 220px;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.login1{
	color: blue;
}

.login2{
	color:blue;
	width:50%;
	text-align:right;
}

.footer{
	width:100%;
	background-color: #f5f5f0;
	text-align: center;
	height:200px;
	bottom:0px;
	padding:10px;
	font-family: 'Dosis', sans-serif;
}

.contact{
	text-align: right;
}

.selesai{
	background-color: green;
	color:white;
	width:100px;
	height:20px;
	padding:10px 20px;
	text-decoration: none;
}

.selesai:hover{
	background-color: #33CC33;
	color:#CCFFCC;
}

#Satu{
	height:300px;
	width:400px;
	margin-left:100px;
	margin-top:50px;
}

#Dua{
	height:auto;
	width:1000px;
	margin:0px 0px auto;
}

.Tatacara{
	padding:20px 20px;
	text-align: center;
}

.Policy{
	padding:20px 20px;
	text-align:center;
}

.Tentang{
	padding:20px 20px;
	text-align: center;
}

.pendaftaran{
	background-color: #33FF33;
	color:white;
	width:100px;
	height:20px;
	padding:10px 20px;
	text-decoration: none;
	margin-top:50px;
}

.pendaftaran:hover{
	background-color: #33CC33;
	color:#CCFFCC;
}

.sudahdaftar{
	background-color: #33FF33;
	color:white;
	width:100px;
	height:20px;
	padding:10px 20px;
	text-decoration: none;
	margin-top:50px;
	margin-left:20px;
}

.sudahdaftar:hover{
	background-color: #33CC33;
	color:#CCFFCC;
}

/*daftarpoli.html*/
.opsi{
	width:200px;
	height:50px;
	margin:80px auto;
}
.selanjutnya{
	background-color: #33FF33;
	color:white;
	width:100px;
	height:20px;
	padding:10px 20px;
	text-decoration: none;
}

.selanjutnya:hover{
	background-color: #33CC33;
	color:#CCFFCC;
}

.prioritas{
	background-color: #33FF33;
	color:white;
	width:100px;
	height:20px;
	padding:10px 20px;
	text-decoration: none;
}

.prioritas:hover{
	background-color: #33CC33;
	color:#CCFFCC;
}

.tutorial{
	margin:0px 500px;
	width:500px;
}

/*jadwal.html*/
.table1 {
    color: #232323;
    border-collapse: collapse;
}
 
.table1, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

#Jadwal1{
	margin:50px 50px;
}

#Jadwal2{
	margin:50px 50px;
}